
structdef FOO {
    float a, b, c;
};

structdef BAR {
    int barA;
    float barB;
    bool barC;
};

FOO food;
BAR bed;

function : void main()
{
    food.a = 88.43;

    FOO food1;
    
    food1 = food;
    
    cout << food1.a << endl;


}
    
    
    
