// float array deref assignment from int array

float[1] gfarr;
int[1] giarr;

function: void main() {
    
    int[1] liarr;
    
    liarr[0] = 19;
    
    gfarr[0] = liarr[0];
    
    cout << gfarr[0] << endl; //false true true
}
